* {
    font-family: 'JetBrains Mono', sans-serif;
    justify-content: center;
    padding: 10px;
}

mat-card {
    position: fixed;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

mat-card-title {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.mat-divider {
    border-top-color: rgb(19, 78, 181);
}

table {
    margin: 0 auto;
}